.banner-text h1{
    font-size: 55px;   
}
nav ul li {
    padding:11px 10px;
}
nav ul li a {
    font-size:600;
}
.banner-text p{
    font-size: 15px;
}
.abouttext{
    font-size: 20px;
}
.service1{
    font-size: 25px;
}
#send{
    font-size: 20px;
    width: 150px;
}
footer{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
}
#contact h2{
    padding-top: 10vh;
}
.fot{
    text-align: center;
    margin-bottom: 2px;
}
.copy{
    margin-top: 2px;
    text-align: center;
}
