nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    margin-top:3%;
}
.banner-text h1{
    padding-top:10vh;
}
.logo{
    position:static;
    width: 150px;
    top: 5%;
    margin-bottom: 2%;
    
}
#navbar{
    height: 130px;
}
.copy{
    font-size: 14px;
}
.form-box{
    display: flex;
    flex-direction: column;
}