nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    margin-top:5%;
}
.banner-text h1{
    padding-top:100px;
}
.logo{
    position:absolute;
    width: 120px;
    top: 16%;
    margin-bottom: 2%;
    
}
nav ul li {
   
    margin-top:45px;
}
#navbar{
    height: 130px;
}
.copy{
    font-size: 14px;
}
.form-box{
    display: flex;
    flex-direction: column;
}
.abouttext p{
Margin-bottom: 12px;
}
.service1{
Margin-top: 15px;
}
    