.abouttext{
    font-size: 25px;
}
.service1{
    font-size: 30px;
}
.banner-text h1{
    font-size: 80px; 
}
.banner-text p{
    font-size: 25px;
}
footer{
    font-size: 14px;
    padding-left:12px ;
}
footer a{
    color:#fff;
    text-decoration: none;
    margin: 8px;
}
