/* .banner-text{
    padding-top:5% ;
} */
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    margin-top:3%;
}
.logo{
    position:static;
    width: 150px;
    top: 5%;
    margin-bottom: 2%;
    
}
#navbar{
    height: 130px;
}
#name,#email,#gender,#subject{
    width: 90%;
}
#message{
    width: 90%;
}
.about{
    display: flex;
    flex-direction: column;
}
.abouttext{
    font-size: 30px;
    padding-left: 25px;
    padding-right: 25px;
}
.service1{
    font-size: 40px;
    margin-top: 5px;
}
h2{
    margin-top: 7%;
}
#aboutme{
    padding-top:11vh ;
}
#contact{
    padding-top: 5vh;
}
.bar{
    margin-top: 25px;
}