*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    font-size: 69px;
    padding: 25px;
    background-color: rgb(26, 26, 26);
    color: #009688;
    text-decoration: underline;
}
header img{
    width: 160px;
    top:6%;
    left:4%;
    position: absolute;
}
header a{
    float: right;
    font-size: 20px;
    text-decoration: none;
    color:#fff;
    top: 8%;
    right: 4%;
    position: absolute;
}
header a:hover{
    color: #009688;
}
.question {
    font-size: 25px;
    letter-spacing: 1px;
    color: rgb(48, 48, 48);
    padding: 4px;
    color:rgb(15, 66, 87);
    font-weight: 700;
}
.answer{
    font-size: 25px;
    letter-spacing: 1px;
    color: rgb(48, 48, 48);
    padding: 4px;
    
}
#qna{
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 3%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
footer{
    background-color: rgb(27, 27, 27);
    font-size: 17px;
    padding-bottom:15px;
    padding-top: 12px;
    padding-left:15px ;
}
footer a{
    color:#fff;
    text-decoration: none;
    margin: 9px;
    
}
.copy {
    float: right;
    margin-right: 2%;
    color:#009688;
}
footer a:hover{
    color:#009688;
}
#faqs{
    color: #009688;
}