*{
    margin: 0;
    padding: 0; 
    list-style: none;
}
#banner{
    background:linear-gradient(rgba(0,0,0,0.82),#009688),url(images/Section3.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
}
.logo{
    top: 4%;
    left: 8%;
    width: 160px;
    height: auto;
    position: absolute;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top:180px;
    
}
.banner-text h1{
 font-size: 100px;   
 font-family: 'kaushan Script', cursive;
}
.banner-text p{
    font-size:25px;
    font-style: italic;
}
.banner-btn #btn-1 a{
    border: #fff;
    padding: 10px 20px;
    border-style: solid;
    color:#fff ;
    text-decoration: none;
    margin: 10px;
    transition: 0.5s;
    font-size: large;

}
.banner-btn #btn-2 a{
    border: #fff;
    padding: 10px 20px;
    border-style: solid;
    color:#fff ;
    text-decoration: none;
    margin: 10px;
    transition: 0.8s;
    font-size: large;
}
.banner-btn #btn-1 a:hover{
    background-color: #fff;
    color:rgb(42, 122, 122);
}
.banner-btn #btn-2 a:hover{
    background-color: #fff;
    color:rgb(42, 122, 122);
}
#sidenav{
    margin-right: 3.5%;
}
nav ul li {
    list-style: none ;
    margin-top: 3%;
    margin-right: 1.5%;
    padding-left: 20px; 
    float: right;  
    
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: large;
  
}
#menu{
    width: 20px;
    margin-top: 15px;
}
#menubtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 30px;
    border-radius: 3px;
    z-index: 3;
    cursor:pointer;
    transition: 0.5s;
}


#sidenav nav ul li a:hover{
    color: #009688;
    transition: 0.4s;

}
h2{
    color: white;
    font-size: 55px;
    padding-top: 5px;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
    font-family: 'Chakra Petch', sans-serif;
    margin-bottom: 60px;
    text-decoration: underline;   
}
section{
    text-align: center;
    padding-top: 5px;
}
.section2{
    background: linear-gradient(#009688,#07332fda,#009688),url(images/Section2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

}
.service1{
    text-align: left;
    width: 25%;
    margin-left: 45% ;
    margin-right: 15%;
    color:rgb(200, 207, 205);
    font-size: 40px;
}
.service1 ul li p{
     padding: 5px 15px 5px;
     width: 100%;
}
.bar{
    display:block;
    height: 5px;
    width: 195%; 
    background: #353b48;
    border: 1px solid rgba(58, 25, 25, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #54c9a2b3;
    transition: 0.5s;
    margin-top: 33px;
    text-align: right;

}

.bar span{
    height: 5px;
    float: left;
    background: #81ccb3ee;
}
.photoshop{
    width: 75%;
    padding-bottom: 15px;
}
.illustrator{
    width:80%;
}
.premiere{
    width: 75%;
}
.xd{
    width: 60%;
}
hr{
    height: 1.5px;
}
.abouttext{
    color:rgb(200, 207, 205);
    font-size: 28px;
    text-align: left;
    margin-left: 4.5%;
    margin-right: 59%;
    margin-top: -26.5%;
}
.abouttext p{
    margin-bottom: 2%;
}
footer{
    background-color: rgb(27, 27, 27);
    font-size: 17px;
    padding-bottom:15px;
    padding-top: 12px;
    padding-left:15px ;
}
footer a{
    color:#fff;
    text-decoration: none;
    margin: 9px;
    
}
.copy {
    float: right;
    margin-right: 2%;
    color:#009688;
}
footer a:hover{
    color:#009688;
}
.section3{
    background: linear-gradient(#009688,#07332fda),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.section3 h2{
    padding-top:1px;
}
.form p{
    color: floralwhite;
    font-size: 25px;
    padding:15px;
}
.manda{
    color: red;
}
#name,#email,#gender,#subject{
    font-size: 25px;
    width:30%;
    height: 50px;
    background: transparent;
    color:white;
    border:thin solid white;
    margin-right:15px;
    margin-left: 15px;
    text-align: center;
    transition: 0.5s;
    
}
#message{
    font-size:26.5px;
    background-color: transparent;
    border-color: white;
    color: white;
    padding:10px;
}
::placeholder{
    color:white;
}
#name:hover,#email:hover,#gender:hover,#subject:hover{
border-color: #62c2b8;
}
#send{
    border:1px solid white;
    font-size: 30px;
    height: 50px;
    width: 20%;
    color:#009688;
    background-color: transparent;
    transition: 0.5s;
}
#send:hover{
    background-color: #009688;
    color: white;
    border: none;
}
option{
    color:black;
}
.social{
    text-align:center;
    margin-top: 9px;
    padding: 4px;

}
.social .img1{
    width:20px;
    padding: 5px;
}
.social .img2{
    width:20px;
    padding:5px;
}
.social .img3{
    width:20px;
    padding:5px;
}
.section4{
    /* background: linear-gradient(#08201e,#111b1a); */
    color: white;
    background-color:rgb(17, 17, 17);
}
h3{
    font-size: 30px;
    margin: 10px;
}
.section4 p{
    margin: 10px;
    padding: 5px;
}
